<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <button onclick="vm.openform()">Open form</button>
    <h1>{{ 'Nilai a : '+a}} </h1>
    <h1>{{ 'Rata rata : '+avg}} </h1>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data : {
          a : 0,
          avg : 0,
      },
      methods : {
          openform : function(){
              this.a =0
              let value = 0
              let inputTotal= 4;
              for (index = 0; index < inputTotal; index++){
                value = prompt("masukkan nilai a")
                value = parseInt(value);
                if (value > 10){
                  value = prompt("masukan nilai a dari rang 0-10")
                  value = parseInt(value);
                }
                this.a = this.a + value
                console.log(this.a);

              }
    
              this.avg =this.a / inputTotal
          }
      }
  })
  </script>
</body>
</html>