<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add member</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <div id="app" class="flex flex-col flex content-center ">
        <div class="w-full max-w-xs ">
            <form @submit.prevent="submitForm()" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                <p v-if="errors.length">
                    <b>Please correct the following errors</b>
                <ul>
                    <li v-for="error in errors">{{error}}</li>
                </ul>
                </p>
                <label class=" text-gray-700 text-sm font-bold mb-1">Name</label><br>
                <input type="text" name="name" ref="name" :disabled="buttonStatus == 'upload'" v-model="name"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline m-2"><br>
                <label class=" text-gray-700 text-sm font-bold mb-1">Address</label><br>
                <textarea type="text" name="address" ref="address" :disabled="buttonStatus == 'upload'"
                    v-model="address"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline m-2"></textarea><br>
                <label class=" text-gray-700 text-sm font-bold mb-1">No_hp</label><br>
                <input type="text" name="no_hp" ref="no_hp" :disabled="buttonStatus == 'upload'" v-model="no_hp"
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline m-2"><br>
                <div v-if="buttonStatus == 'submit'">
                    <input type="submit" value="submit"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-2"><br>
                </div>
                <div v-else-if="buttonStatus == 'update'">
                    <input type="button" @click="updateMember(idUpdatedMember)" value="update"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-2">
                    <input type="button" @click="clearForm()" value="cancel"
                        class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-2"><br>
                </div>
                <div v-else-if="buttonStatus == 'upload'">
                    <input type="file" name="photo_profile" ref="photo_profile"><br>
                    <input type="button" @click="submitPhoto(idUploadMember)" value="Upload"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-2">
                    <input type="button" @click="clearForm()" value="cancel"
                        class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-2"><br>
                </div>

            </form>
        </div>
        <br>
        <table class="table-auto ">
            <tr v-for="member in members" class="border-t-2 border-light-blue-500">
                <td><img :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/300'"
                        width="100px"></td>
                <td>
                    <b>Name :</b>{{member.name}}<br>
                    <b>Address : </b>{{member.address}}<br>
                    <b>No Hp: </b>{{member.no_hp}}<br>
                    <b>created_at :</b>{{member.created_at}}<br>

                </td>
                <td>
                    <button @click="editMember(member)"
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Edit</button>
                    <button @click="removeMember(member.id)"
                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Delete</button>
                    <button @click="uploadPhoto(member)"
                        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Upload</button>
                </td>
            </tr>
        </table>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                name: '',
                address: '',
                no_hp: '',
                photo_profile: '',
                photoDomain: 'http://demo-api-vue.sanbercloud.com',
                created_at: '',
                members: [],
                buttonStatus: 'submit',
                idUpdatedMember: null,
                idUploadMember: null,

                errors: []

            },
            methods: {
                validationForm: function () {
                    this.errors = []

                    if (this.name.length < 5) {
                        this.errors.push("name minimal 5 karakter")
                        this.$refs.name.focus()
                    }

                    if (this.address.length > 50) {
                        this.errors.push("Address tidak boleh lebih dari 50")
                        this.$refs.address.focus()
                    }
                },
                clearForm: function () {
                    this.name = ''
                    this.address = ''
                    this.no_hp = ''
                    this.buttonStatus = 'submit'
                    this.idUpdatedMember = null
                    this.idUploadMember = null
                },
                submitForm: function () {
                    this.validationForm()

                    if (this.errors.length === 0) {

                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)

                        const config = {
                            method: 'post',
                            url: 'http://demo-api-vue.sanbercloud.com/api/member',
                            data: formData
                        }
                        axios(config)
                            .then((responses) => {
                                this.clearForm()

                                console.log(responses.data.message)
                                alert(responses.data.message)
                                this.getMembers


                            })
                            .catch((err) => {
                                console.log(err);
                            })
                        alert("Terima Kasih Anda telah mengisi data dengan benar")
                    }




                },
                getMembers: function () {
                    const config = {
                        method: 'get',
                        url: 'http://demo-api-vue.sanbercloud.com/api/member'
                    }
                    axios(config)
                        .then((responses) => {
                            console.log(responses.data.members);
                            this.members = responses.data.members

                        })
                        .catch((err) => {
                            console.log(err);
                        })
                },
                removeMember: function (id) {
                    const config = {
                        method: 'post',
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params: { _method: 'DELETE' }
                    }
                    axios(config)
                        .then((responses) => {
                            console.log(responses);
                            alert(responses.data.message)
                            this.getMembers()

                        })
                        .catch((err) => {
                            console.log(err);

                        })
                    console.log(id);

                },
                editMember: function (member) {
                    console.log(member);
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'update'
                    this.idUpdatedMember = member.id
                },
                updateMember: function (id) {
                    this.validationForm()
                    if (this.errors.length === 0) {
                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)

                        let config = {
                            method: 'post',
                            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,

                            params: { _method: 'PUT' },
                            data: formData,
                        }

                        axios(config)
                            .then((responses) => {
                                console.log(responses);
                                this.clearForm()
                                this.getMembers()
                                alert(responses.data.message)
                            })
                            .catch((err) => {
                                console.log(err);
                            })


                    }
                },
                uploadPhoto: function (member) {
                    console.log(member);
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'upload'
                    this.idUploadMember = member.id

                },
                submitPhoto: function (id) {
                    console.log(id);
                    let file = this.$refs.photo_profile.files[0]

                    let formData = new FormData()
                    formData.append('photo_profile', file)

                    let config = {
                        method: 'post',
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                        data: formData,
                    }

                    axios(config)
                        .then((response) => {
                            this.clearForm()
                            this.getMembers()
                            alert(response.data.message)

                        })
                        .catch((err) => {
                            console.log(err);

                        })
                }
            },
            created() {
                this.getMembers()
            }
        })
    </script>
</body>

</html>