<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search Book </title>
</head>
<body>
  <div id="app">
    <!-- Form Input store at variable search -->
    <input type="text" v-model="search" placeholder="Search books...">
    <br>
   
    <!-- print each book from function filterBook, already filtered by variable search -->
    <ul v-for="book in filterBook" > 
        <li>{{book}}</li>
    </ul>
    
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        search:null,
        books:[
            "Kalkulus Dasar",
            "Fisika Dasar",
            "Aljabar Liniear Elementer",
            "Aljabar Abstrak",
            'Algoritma Pemrograman'
        ]
      },
      computed:{
        /* func. filterBook to filter book on data 'Books' based on variable 'search'
        return array matched books.*/
        filterBook(){

          /* argument is 'search' from form input, check if var. search has value*/ 
            if (this.search){ 
              
              /*return array which is True (matched with 'search')*/
               return this.books.filter((book)=>{  

                  /* return boolean each book on books which inlucludes var. search */
                  /* need to be in lowercase since includes is char sensitive*/
                   return book.toLowerCase().includes(this.search.toLowerCase());
                });

            /* if var.search is null, show all books*/
            }else {
                return this.books;
            }
        }
      }
  })
  </script>
</body>
</html>