<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <input v-model.lazy="user">

        <button v-if="buttonAdd == true" @click="addUser()">Add</button>
        <button v-else @click="UpdateUser(user)">Update</button>

        <!-- {{users.length}} -->

        <ul v-for="(user,index) in users">
            <li> {{ user.name }}
                <button @click="updateButton(index)">edit</button> |
                <button @click="deleteUser(index)">delete</button>
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                buttonAdd: true,
                indexselected: null,
                user: null,
                users: [{
                    'name': 'Muhammad Iqbal Mubarok'
                },
                {
                    'name': 'Ruby Purwanti',
                },
                {
                    'name': 'Faqih Muhammad'
                },
                ]
            },
            computed: {},
            methods: {
                addUser: function () {
                    if (this.user) {
                        console.log("add");
                        if (this.user) {
                            this.users.push({ 'name': this.user })
                        }
                        this.user = null

                    }else{
                        alert("Please write your name ")
                    }


                },
                deleteUser: function (index) {
                    console.log("delete")
                    console.log(index)
                    this.users.splice(index, 1)

                },
                updateButton: function (index) {
                    console.log("update")
                    console.log(this.users[index].name)
                    this.buttonAdd = false
                    this.user = this.users[index].name
                    this.indexselected = index;

                },
                UpdateUser: function () {
                    console.log(this.indexselected)
                    console.log(this.user)
                    this.users[this.indexselected].name = this.user
                    this.user = null
                    this.buttonAdd = true

                }
            }
        })

    </script>

</body>

</html>